html.sr .load-hidden {
  visibility: hidden;
}
body {
  opacity: 1;
  transition: 0.7s opacity;
}

body.fade {
  opacity: 0;
  transition: none;
}

.navbar{
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 0px;
  padding-left: 0px;
  font-family: 'Oswald',
  sans-serif;
}
#mainNav {
  min-height: 56px;
  background-color: #fff;
  
}

#mainNav .nav-item {
  color: #161616;
  font-weight: 700;
  padding: .9rem 0;
}
#navContent {
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
}

#mainNav .navbar-nav .nav-item:hover {
  color: fade(white, 80%);
  outline: none;
  background-color: transparent;
}

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}

@media (min-width: 320px) {
  #mainNav {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    background-color: transparent;
    -webkit-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
  }

  #mainNav .nav-link {
    -webkit-transition: none;
    transition: none;
    padding: 2rem 1.5rem;
    color: rgba(25, 25, 25, 0.5);
  }

  #mainNav .nav-link:hover {
    color: rgba(255, 255, 255, 0.75);
  }

  #mainNav .nav-link:active {
    color: white;
  }

  #mainNav.navbar-shrink {
    background-color: #fff;
  }

  #mainNav.navbar-shrink .nav-link {
    color: #161616;
    padding: 1.5rem 1.5rem 1.25rem;
    border-bottom: 0.25rem solid transparent;
  }

  #mainNav.navbar-shrink .nav-link:hover {
    color: #fcd346;
  }

  #mainNav.navbar-shrink .nav-link:active {
    color: #fcd346;
  }

  #mainNav.navbar-shrink .nav-link.active {
    color: #fcd346;
  
    outline: none;
    border-bottom: 0.25rem solid #fcd346;
  }
}
@media (max-width: 480px) {
    #mainNav .nav-link {
      -webkit-transition: none;
      transition: none;
      padding: 2rem .5rem;
      color: rgba(255, 255, 255, 0.5);
    }
      #mainNav.navbar-shrink .nav-link {
        color: #161616;
        padding: 1.5rem .5rem 1.25rem;
        border-bottom: 0.25rem solid transparent;
      }
}
.head {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 35rem;
  padding: 15rem 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 22, 22, 0.3)), color-stop(75%, rgba(22, 22, 22, 0.7)), to(#161616)), url("../img/city_header.jpg");
  background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%), url("../img/city_header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  font-family: 'Poppins',
  sans-serif;
}

.head h1 {
  padding-top: 200px;
  font-family: 'Poppins',
  sans-serif;
  font-size: 10vw;
  line-height: 10vw;
  letter-spacing: 1vw;
  color: #dfdfdf;
}

.head h2 {
  font-size: 5vw;
  color: #aaaaaa;
}

@media (min-width: 768px) {
  .head h1 {
    font-size: 9vw;
    line-height: 9vw;
  }
}

@media (min-width: 992px) {
  .head {
    height: 100vh;
    padding: 0;
  }
  .head h1 {
    font-size: 8vw;
    line-height: 8vw;
    letter-spacing: 1.4vw;
  }
  .head h2 {
    font-size: 2.5vw;
  }
}

.head .page-scroll a:hover {
  color: #fcd346;
}
.head .page-scroll a {
  color: #fff;
}

.head a:hover {
  color: #b1ae19;
}

.fa-angle-down:before {
  content: "\f107";
}

.about-section {
  padding-top: 6rem;
  padding-bottom: 4rem;
  background-color: #f8f9fa; 
}

.about-section p {
  margin-bottom: 5rem;
}

#about .text-white-50 {
  font-size: 1.5vw;
}

#about .text {
  color: black;
  font-size: 1.5vw;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

#about .portfolio-item {
  right: 0;
  margin: 0 0 15px;
}

#about .portfolio-item .portfolio-link {
  position: relative;
  display: block;
  max-width: 400px;
  margin: 0 auto;
  cursor: pointer;
}

#about .portfolio-item .portfolio-link .portfolio-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  opacity: 0;
  background: rgba(254, 209, 54, 0.9);
}

#about .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 1;
}

#about .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  font-size: 1.5vw;
  position: absolute;
  top: 50%;
  width: 100%;
  height: 20px;
  margin-top: -12px;
  text-align: center;
  color: white;
}

#about .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
  margin-top: -12px;
}

#about .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
  margin: 0;
}

#about .portfolio-item .portfolio-caption {
  max-width: 400px;
  margin: 0 auto;
  padding: 25px;
  text-align: center;
  background-color: #fcd346;
}


#about .portfolio-item .portfolio-caption h4 {
  margin: 0;
  text-transform: none;
}

#about .portfolio-item .portfolio-caption p {
  font-size: 1.5vw;
  font-style: italic;
  margin: 0;
  font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

@media (min-width: 767px) {
  #about .portfolio-item {
    margin: 0 0 30px;
  }
}

#resume {
  padding: 2rem 0 2rem ;
  background-color: #f8f9fa
}

.timeline {
  position: relative;
  padding: 2rem 0 0;
  list-style: none;
}

.timeline:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40px;
  width: 2px;
  margin-left: -1.5px;
  content: '';
  background-color: #e9ecef;
}

.timeline>li {
  position: relative;
  min-height: 50px;
  margin-bottom: 30px;
}

.timeline>li:after,
.timeline>li:before {
  display: table;
  content: ' ';
}

.timeline>li:after {
  clear: both;
}

.timeline>li .timeline-panel {
  position: relative;
  float: right;
  width: 100%;
  padding: 0 20px 0 100px;
  text-align: left;
}

.timeline>li .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

.timeline>li .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.timeline>li .timeline-image {
  position: absolute;
  z-index: 100;
  left: 0;
  width: 80px;
  height: 80px;
  margin-left: 0;
  text-align: center;
  color: white;
  border: 7px solid #e9ecef;
  border-radius: 100%;
  background-color: #fed136;
}

.timeline>li .timeline-image h4 {
  font-size: 10px;
  line-height: 14px;
  margin-top: 12px;
}

.timeline>li.timeline-inverted>.timeline-panel {
  float: right;
  padding: 0 20px 0 100px;
  text-align: left;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.timeline>li:last-child {
  margin-bottom: 0;
}

.timeline .timeline-heading h4 {
  margin-top: 0;
  color: inherit;
}

.timeline .timeline-heading h4.subheading {
  text-transform: none;
}

.timeline .timeline-body>ul,
.timeline .timeline-body>p {
  margin-bottom: 0;
}

.timeline .timeline-end {
  padding: 5vw 0 0;
}

@media (min-width: 768px) {
  .timeline:before {
    left: 50%;
  }

  .timeline>li {
    min-height: 100px;
    margin-bottom: 25px;
  }

  .timeline>li .timeline-panel {
    float: left;
    width: 41%;
    padding: 0 20px 20px 30px;
    text-align: right;
  }

  .timeline>li .timeline-image {
    left: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px;
  }

  .timeline>li .timeline-image h4 {
    font-size: 13px;
    line-height: 18px;
    margin-top: 16px;
  }

  .timeline>li.timeline-inverted>.timeline-panel {
    float: right;
    padding: 0 30px 20px 20px;
    text-align: left;
  }
}

@media (min-width: 992px) {
  .timeline>li {
    min-height: 150px;
  }

  .timeline>li .timeline-panel {
    padding: 0 20px 20px;
  }

  .timeline>li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px;
  }

  .timeline>li .timeline-image h4 {
    font-size: 18px;
    line-height: 26px;
    margin-top: 30px;
  }

  .timeline>li.timeline-inverted>.timeline-panel {
    padding: 0 20px 20px;
  }
}

@media (min-width: 1200px) {
  .timeline>li {
    min-height: 170px;
  }

  .timeline>li .timeline-panel {
    padding: 0 20px 20px 100px;
  }

  .timeline>li .timeline-image {
    width: 170px;
    height: 170px;
    margin-left: -85px;
  }

  .timeline>li .timeline-image h4 {
    margin-top: 40px;
  }

  .timeline>li.timeline-inverted>.timeline-panel {
    padding: 0 100px 20px 20px;
  }
}

#resume .course-item {
  padding: 10px 10px 50px;
}

#resume .course-item .card {
  background-color: #cccccc;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
  0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  border-color: #cccccc;
}

.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-float:hover,
.hvr-float:focus,
.hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

.projects-section {
  background-color: #212529;
  background-image: url("/img/map-image.png");
  height: auto;
  padding: 1vh 0 0;
  margin: 0;
}

.projects-section .project-text {
  padding: 2rem;
  font-size: 90%;
}

@media (min-width: 992px) {
  .projects-section .project-text {
    padding: 3rem;
  }

  .projects-section .project-text hr {
    border-color: #fcd346;
    border-width: .25rem;
    width: 30%;
  }
}

@media (min-width: 1212px) {
  .projects-section .project-text {
    padding: 5rem;
  }

  .projects-section .project-text hr {
    border-color: #fcd346;
    border-width: .25rem;
    width: 30%;
  }
}

.projects-button .button4 {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;

  padding: 16px 32px;
  text-align: center;

  display: inline-block;
  font-size: 24px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #fcd346;
  color: white;
  border-color: #ffffff; 
  border-style: solid;
  border-width: 2px;
  }

.projects-button .button4:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.projects-button .button4:hover,
.projects-button .button4:focus,
.projects-button .button4:active {
  color: #fcd346;
}

.projects-button .button4:hover:before,
.projects-button .button4:focus:before,
.projects-button .button4:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.contact-section {
  padding: 4vh 0 0;
  background-color: #212529;
}

.contact-section .card {
  border: 0;
  border-bottom: 0.25rem solid #fcd346;
}

.contact-section .card h4 {
  font-size: 0.8rem;
  font-family: 'Varela Round';
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}

.contact-section .card hr {
  border-color:#fcd346;
  border-width: 0.25rem;
  width: 3rem;
}

.contact-section .social {
  margin-top: 5rem;
}

.contact-section .social a {
  text-align: center;
  height: 3rem;
  width: 3rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  line-height: 3rem;
  color: rgba(255, 255, 255, 0.3);
}

.contact-section .social a:hover {
  color: rgba(255, 255, 255, 0.5);
}

.contact-section .social a:active {
  color: #fff;
}

body {
  font-family: 'Nunito';
  letter-spacing: 0.0625em;
}

a {
  color:#fcd346;
}
a:visited {
  color: black;
}

a:focus, a:hover {
  text-decoration: none;
  color:#fcd346;
}

.bg-black {
  background-color: #161616 !important;
}

.bg-primary {
  background-color: #fcd346 !important;
}

.text-primary {
  color:#fcd346 !important;
}

footer {
  padding: 5rem 0;
  background-color: #212529;
}

/* List Page */

#page-list {
    /* The image used */
    background-image: none;
    background-color: #ededed;

    /* Set a specific height */
    

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media (min-width: 768px)
{
  #page-list {
    background-image: url("../img/Balloons.jpg");
  }
}

@media (max-device-width: 1024px) {
  #page-list {
    background-image: none;
    background-color: #ededed; 
  }
}

.card-horizontal {
  border-width: 2px;
  border-color: white;
}

@media(min-width: 800px)
{
  .card-horizontal {
    display: flex;
    flex: 1 1 auto;
  }
}

.sticky-footer {
  flex-shrink: none;
  border-top-left-radius: 30% 10%;
  border-top-right-radius: 30% 10%;
}

::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #fcd346;
    border-block-end-style: ridge;
    background-image: -webkit-linear-gradient(45deg,
      rgba(255, 255, 255, .2) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, .2) 50%,
      rgba(255, 255, 255, .2) 75%,
      transparent 75%,
      transparent)
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fffd97;
}
